   <form [formGroup]="logForm" (ngSubmit)="loginfo(logForm.value)">
    <h1>
      Login Form
    </h1>

    <br>
    <br>
       <div class="req" *ngIf="logForm.get('username').value == 'ahmed' ">wrong username</div>
    <label> Username
      <input type="text" formControlName="username" class="form-control">
    </label>


    <div class="req" *ngIf="!logForm.controls['username'].valid && logForm.controls['username'].touched ">{{req}}</div>
    <br>
     <label> Password
      <input type="password" formControlName="password" class="form-control">
    </label>
    <br>
    <div class="req" *ngIf="!logForm.controls['password'].valid && logForm.controls['password'].touched ">{{req}}</div>
     <br>
    <input type="submit"  value="login" [disabled]="!logForm.valid" class="form-control" >

    </form>



