<div class="row">
  <div class="col-md-12">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Sed euismod nisi porta lorem mollis aliquam ut porttitor leo. 
      Erat nam at lectus urna duis convallis convallis tellus. Dictum varius duis at consectetur lorem.
      Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. 
      Mollis aliquam ut porttitor leo a diam sollicitudin. Ultrices sagittis orci a scelerisque purus semper eget duis at.
      Tortor id aliquet lectus proin nibh nisl condimentum id. Sit amet est placerat in egestas erat imperdiet sed euismod.
      Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris. Sagittis aliquam malesuada bibendum arcu vitae elementum. 
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <app-people-item *ngFor="let person of people" [currentPerson]="person"></app-people-item>
    </div>
  </div>
</div>
